@import '../../sass-partials/variables';

.card {
  display: grid;
  grid-template-areas:
    "button content1 kebab"
    "button content2 kebab"
    "button content3 kebab";
  grid-template-columns: 50px 1fr 25px;
  padding: 25px;
  column-gap: $spacing-small;
  border-radius: 4px;
  background-color: rgba($color-card, 0.95);
  color: $color-light;

  // Button
  > * {
    &:first-child {
      grid-area: button;
      align-self: center;
    }

    &:last-child {
      grid-area: kebab;
    }
  }
}

.title,
.meta {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  grid-area: content1;
}

.meta {
  font-size: $font-size-small;

  &:nth-of-type(1) {
    grid-area: content2;
  }

  &:nth-of-type(2) {
    grid-area: content3;
  }
}
