@import '../../sass-partials/variables';

$border: 2px;

.button {
  --gradient-1: #{$color-button-gradient-1};
  --gradient-2: #{$color-button-gradient-2};
  --background: #{$color-black-pearl};

  display: inline-block;
  position: relative;
  padding: 1em 1.6em;
  transition: 0.25s ease-in-out;
  border: $border solid transparent;
  border-radius: 2em;
  outline: 0;
  background-clip: padding-box;
  background-color: var(--background);
  color: $color-light;
  font-family: $font-family-default;
  appearance: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: var(--background);
  }

  &:focus {
    &::before {
      opacity: 0.85;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
  }

  &::before {
    transition: inherit;
    opacity: 0;
    box-shadow: 0 0 25px var(--gradient-1);
  }

  &::after {
    margin: -$border;
    background-image: linear-gradient(120deg, var(--gradient-1), var(--gradient-2));
  }
}

.secondary {
  --gradient-1: #{$color-button-gradient-3};
  --gradient-2: #{$color-button-gradient-4};
}
