// ==========================================================================
// Variables
// ==========================================================================

// Colors
// ==========================================================================
$color-dodger-blue: #355dfd;
$color-electric-violet: #5400ff;
$color-firefly: #0c1528;
$color-black-pearl: #071228;
$color-blackest-pearl: #060e1f;
$color-bright-turquoise: #11ccfc;
$color-cyan: #03f8fc;
$color-red: #fd3535;
$color-orange: #fc9403;
$color-white: #fff;
$color-black: #000;

// Contextual
$color-light: $color-white;
$color-dark: $color-black;
$color-text-default: $color-dark;
$color-button-gradient-1: $color-dodger-blue;
$color-button-gradient-2: $color-cyan;
$color-button-gradient-3: $color-red;
$color-button-gradient-4: $color-orange;

// Fonts
// ==========================================================================
$font-size-base: 16px;
$font-family-default: 'Montserrat', sans-serif;
