@import './functions';

// ==========================================================================
// Variables
// ==========================================================================

// Colors
// ==========================================================================
$color-dodger-blue: #355dfd;
$color-electric-violet: #5400ff;
$color-firefly: #0c1528;
$color-black-pearl: #071228;
$color-blackest-pearl: #060e1f;
$color-bright-turquoise: #11ccfc;
$color-cyan: #03f8fc;
$color-green: #11fc8b;
$color-red: #fd3535;
$color-orange: #fc9403;
$color-white: #fff;
$color-black: #000;

// Contextual
$color-light: $color-white;
$color-dark: $color-black;
$color-text-default: $color-dark;
$color-button-gradient-1: $color-dodger-blue;
$color-button-gradient-2: $color-cyan;
$color-button-gradient-3: $color-red;
$color-button-gradient-4: $color-orange;
$color-card: $color-firefly;

// Fonts
// ==========================================================================
$font-size-base: 16px;
$font-size-large: font-size(35);
$font-size-medium: font-size(20);
$font-size-small: font-size(14);
$font-family-default: 'Montserrat', sans-serif;

// Spacing
// ==========================================================================
$spacing-small: 25px;
$spacing-medium: 40px;

:root {
  --header: 100px;
  --button-bar: 100px;
}
