@import '../../sass-partials/variables';

// ==========================================================================
// Global Styles
// ==========================================================================

// Box Sizing
// ==========================================================================
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

// Typography
// ==========================================================================
body {
  overflow: hidden;
  background-color: $color-blackest-pearl;
  color: $color-text-default;
  font-family: $font-family-default;
  font-size: $font-size-base;
  line-height: 1.4;
}

// Variables
:root {
  --header: 100px;
  --button-bar: 100px;
}
