@import '../../sass-partials/variables';

.bar {
  display: grid;
  position: sticky;
  bottom: 0;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  justify-content: center;
  width: 100%;
  padding: $spacing-small $spacing-medium;
  column-gap: $spacing-medium;
  background-color: $color-black-pearl;
}
